body {
}

.container-smart {
    display: grid;
    grid-template-columns: 70% 30%
}

.container-heroes {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 60px;
    grid-row-gap: 30px;
}

    .container-heroes .card-hero {
        width: 200px;
        box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 75%);
        padding: 10px;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 70% 20%;
    }

.container-heroes .card-hero img{
    width: 100%;
}


.container-smart .form-heroes form {
    display: grid;
    grid-gap: 20px;
}


.container-search{
    display: grid;
    grid-template-columns: 20% 40% 40%;
    align-items: center;
}

.container-search input{
    width:80%;
}

.container-search button {
    width: 80%;
}

 