@page "/smart"
@using Tour_de_heroes.Models

<div class="container-smart">
    <h3>Tour de heroes</h3>
    <div class="heroes">
        <Search OnSearch="OnSearch" />
        <Heroes @bind-HeroesList="@heroesFound" />
    </div>

    <div class="form-heroes">
        <FormHero />
    </div>
</div>

@code {
    private List<Hero> heroesFound = new List<Hero>();

    private void OnSearch(List<Hero> heroes)
    {
        heroesFound = heroes;
    }
}
