@page "/"
@using Tour_de_heroes.Models

<div class="container-smart">
    <div class="heroes">
        <Search OnSearch="OnSearch" />
        <button class="btn btn-success mt-3" @onclick="() => showForm = !showForm" disabled="@showForm">Agregar Heroe</button>
        <Heroes @bind-HeroesList="@heroesFound" />
        
    </div>

    @if (showForm)
    {
        <div class="form-heroes">
            <FormHero />
        </div>
    }
</div>

@code {
    private List<Hero> heroesFound = new List<Hero>();
    private bool showForm = false;

    private void OnSearch(List<Hero> heroes)
    {
        heroesFound = heroes;
    }
}
